<table class="table">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Units in Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let temp of products">
            <td class="align-middle">
                <img src="{{temp.imageUrl}}" height="50"/>
            </td>
            <td class="align-middle">{{temp.name}}</td>
            <td class="align-middle">{{temp.unitPrice|currency:'USD'}}</td>
            <td class="align-middle">{{temp.unitsInStock}}</td>
        </tr>
    </tbody>
</table>